* {
    box-sizing: border-box;
}

body {
    width: 100%;
    margin-top: 5em;
}

.color-pick-container {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.color-pick {
    width: 30px;
    height: 30px;
}

.color-scheme-btn {
    padding: 10px 4px;
    border: 1px solid gray;
    border-radius: 4px;
}