* {
    box-sizing: border-box;
}

main {
  width: 70%;
  margin: 5em auto;
}

.color-pick-container {
    display: flex;
    justify-content: center;
    gap: 10px;
}

input {
  height: inherit;
}

select {
  border-radius: 3px;
  width: 40%;
}

.color-scheme-btn {
    padding: 10px 4px;
    border: 1px solid gray;
    border-radius: 4px;
}

.colors-container {
  display: flex;
  margin-top: 1.5em;
}

.color {
  height: 70vh;
  width: 100%;
}

.colors-val-container {
  display: flex;
}

.color-value {
  height: 70vh;
  width: 100%;
  text-align: center;
}